.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
static/ltximg
.pdf
bak
temp
content/llmlog
content/tmp
content/elisp
content/office
.aider*
content.test
