@use "./base.scss";

// put your custom CSS here!
.csl-bib-body
.csl-entry
{
  // font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-family: var(--bodyFont);
  color: #ffeeff;
}

blockquote {
  font-family: var(--headerFont);
}

.org-todo,
.todo,
.org-done,
.done,
.tag,
.NEXT,
.DONT, {
  font-family: var(--codeFont);
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  // font-size: 1em; /* 4 */
}

.timestamp {
  font-family: var(--codeFont);
  background-color: var(--textHighlight);
  padding: 0 0.1rem;
  border-radius: 5px;
}

.tag {
  color: --color-danger-fg;
}

.TODO {
  color: --color-danger-fg;
}

.NEXT {
  color: --color-accent-fg;
}

.DONT {
  color: --color-attention-fg;
}

.DONE {
  color: --color-success-fg;
}

.timestamp {
  color: --color-fg-muted;
}

