@use "./base.scss";

// put your custom CSS here!
.csl-bib-body
.csl-entry
{
  // font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-family: var(--bodyFont);
  color: #ffeeff;
}

blockquote {
  font-family: var(--headerFont);
}

.org-todo,
.todo,
.org-done,
.done,
.NEXT,
.DONT,
.timestamp {
  font-family: var(--codeFont);
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  // font-size: 1em; /* 4 */
}

.TODO {
  color: --color-danger-fg;
}

.NEXT {
  color: --color-accent-fg;
}

.DONT {
  color: --color-attention-fg;
}

.DONE {
  color: --color-success-fg;
}

.timestamp {
  color: --color-fg-muted;
}

.content h2::before {
    content: "*";
}
.content h3::before {
    content: "**";
}
.content h4::before {
    content: "***";
}
.content h5::before {
    content: "****";
}
.content h6::before {
    content: "*****";
}
